<ion-view title="SpareKalkulator" id="page3" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="spareKalkulator-form1" class="list">
            <label class="item item-input " id="spareKalkulator-input1">
                <span class="input-label">Startbeløp</span>
                <input type="number" ng-model="calcModel.startAmount">
            </label>
            <label class="item item-input " id="spareKalkulator-input2">
                <span class="input-label">Månedlig Beløp</span>
                <input type="number" ng-model="calcModel.monthlyAmount">
            </label>
            <label class="item item-input " id="spareKalkulator-input3">
                <span class="input-label">Rente %</span>
                <input type="number" ng-model="calcModel.interest">
            </label>
            <label class="item item-input " id="spareKalkulator-input4">
                <span class="input-label">Antall År</span>
                <input type="number" min="1" max="100" step="1" ng-model="calcModel.years">
            </label>
        </form>
        <div class="spacer" style="width: 300px; height: 7px;"></div>
        <div class="item item-text-wrap">
          <canvas id="line"
                class="chart chart-line"
                chart-data="data"
                chart-series="series"
                chart-options="options"
                chart-labels="labels">
          </canvas>
        </div>
        <div class="spacer" style="width: 300px; height: 7px;"></div>
        <div class="button button-block button-balanced total-sum">
          {{total}}
        </div>
    </ion-content>
</ion-view>
