<ion-view title="SpareKalkulator" id="page3" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="spareKalkulator-form1" class="list ">
            <label class="item item-input " id="spareKalkulator-input1">
                <span class="input-label">Startbeløp</span>
                <input type="number" placeholder="5000">
            </label>
            <label class="item item-input " id="spareKalkulator-input2">
                <span class="input-label">Månedlig Beløp</span>
                <input type="number" placeholder="1000">
            </label>
            <label class="item item-input " id="spareKalkulator-input3">
                <span class="input-label">Rente %</span>
                <input type="number" placeholder="5">
            </label>
            <label class="item item-input " id="spareKalkulator-input4">
                <span class="input-label">Antall År</span>
                <input type="number" placeholder="10">
            </label>
        </form>
        <div class="spacer" style="width: 300px; height: 11px;"></div>
        <div class="item item-text-wrap">
            <canvas id="line" class="chart chart-line" data="data" labels="labels" legend="true" series="series" options="{showTooltips: false}"></canvas>
        </div>
    </ion-content>
</ion-view>
